.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 75px;
  width: 100%;
  margin: 100px 0;
  padding: 0 var(--container-offset);

  &__aside {
    border: 2px solid var(--accent-color);
    border-radius: 25px;
    padding: 10px 5px;
    align-self: flex-start;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__descr {
    text-wrap: balance;
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__content {
    border: 2px solid var(--accent-color);
    border-radius: 25px;
    padding: 10px 5px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-wrap: balance;
    max-width: 1400px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    overflow: hidden;
    list-style: square;
    column-gap: 250px;
    row-gap: 25px;
    margin-bottom: 65px;
    color: var(--white-color);
  }

  &__item {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    transition: var(--duration) color ease-in-out;

    @include hover {
      color: var(--accent-color);
    }
  }

  &__repo-link {
    color: var(--white-color);
  }

  &__repo-descr {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-align: center;
  }

  &__avatar {
    border-radius: 20px;
  }

  &__error {
    margin-bottom: 20px;
    font-size: 28px;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    text-wrap: balance;
    text-transform: capitalize;
    text-align: center;
    color: var(--banner-color);

    @include tablet {
      font-size: 32px;
    }

    @include small-tablet {
      font-size: 24px;
    }
  }

  &__fault {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 30px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    &-item {
      color: var(--bg-dark);
      padding: 5px 10px;
      border-radius: 50px;
      background-color: var(--banner-color);
      transition:
        var(--duration) ease-in-out color,
        var(--duration) ease-in-out background-color;

      @include hover {
        background-color: var(--accent-color);
        color: var(--white-color);
      }

      &--active {
        color: var(--white-color);
        background-color: var(--accent-color);
      }
    }
  }
}
