.details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  &__close {
    align-self: flex-end;
    background-color: var(--accent-color);
    padding: 3px;
    border-radius: 25px;
    width: 32px;
    height: 32px;
    transition: var(--duration) ease-in-out transform;

    @include hover {
      transform: rotate(180deg);
    }
  }

  &__item {
    font-size: 16px;
  }

  &__img {
    align-self: center;
    border-radius: 20px;
  }

  &__link {
    color: var(--accent-color);
    text-decoration: underline;
    transition: var(--duration) color ease-in-out;

    @include hover {
      color: var(--accent-active-color);
    }
  }
}
